# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
img/3lbmp43j71fmdrt1u7a25iqqhcgxci5h0cit8rb4.png
img/a5ts0x4n4j1z0elj78zrnxb9j4cu5p1out1u135k.png
img/gqdaem9xzb34p0imj5wsysv063m9vkor214vdcgp.png
img/mt7932w50x9mj65n1855xk5jufggyn835m3rwzh6.png
img/v7uzhdms19rzdxrxy5jzdx3q9js5kiy9eiixg2di.png
img/xe0eagnjjjac8p8llllto2wnt4ijfhfqq3a9elp1.png
img/xwtyq2xow2i7jlfu0qotk2m0jgis6dxgllqaawdp.png
img/y3kp5oo2zc5kyj0scrotr9aw14wgl0ukk9h4xocf.png
